@charset "utf-8";

/*Begin-Element*/
body {
    background-image: url('../img/hermes_logo_transparenteOK.png');
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
}

/*End-Element*/

/*Begin-Class*/

.logo-hermes {

}

.login-box{
    width: 60%;
    height: 30%;  
    border: 3px outset grey;
    box-sizing: border-box;
    padding: 5%;
    margin: auto;
}

/*End-Class*/

/*Begin-Id*/

#main-body {
    width: 100%;
    height: 100%;
}

#modal {
    border: 5px outset grey;
    border-radius: 20px;
    width:80%;
    height:80%;
    margin: auto;
}

#header {

}

#identification-bar {
    background-color: rgb(75, 73, 73);
    text-align: center;
    color: white;
}

#login-container {
    width: 50%;
    height: 40%; 
    min-height: 370px;
    margin: auto;
    padding: 2%;
    box-sizing: border-box;
    text-align: center;
    color:grey;
    
}

#top-nav-bar {

}



/*End-Id*/

/*Begin-Specific-Selectors*/
.logo-hermes > a {
    padding-left: 5%;
    padding-top: 1%;
    position: relative;
}
/*End-Specific-Selectors*/